*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.max-screen-width {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

header,
main {
  width: 100vw;
  background-color: white;
}

nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem 1rem;
  margin: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links > div {
  display: none;
}

.nav-links > a {
  background-color: #3939e6;
  color: white;
  text-decoration: none;
  border-radius: 2.5rem;
  padding: 0.5rem;
  margin-bottom: 0;
}

main .hero,
main .our-values {
  width: 100%;
  max-width: 1200px;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem 1rem;
  margin: auto;
}

.title {
  font-size: 1.8rem;
}

.hero > p {
  max-width: 27rem;
  font-size: 0.85rem;
  line-height: 1.5;
  margin-top: 1rem;
}

.hero > a {
  background-color: #3939e6;
  text-decoration: none;
  color: white;
  font-weight: lighter;
  border-radius: 0.35rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

main .our-values {
  max-width: 100vw;
  background-color: #f7f7f7;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.our-values > h1 {
  margin-bottom: 1rem;
}

.our-values > p {
  margin-bottom: 1rem;
}

.our-values .card-container {
  width: 85%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: left;
}

.our-values .card-container .card {
  max-width: 20rem;
  background-color: white;
  display: grid;
  border-radius: 0.5rem;
}

.card > div:first-of-type {
  width: 100%;
  background-color: lightgray;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  /* padding: 10rem 0 0 0; */
}

.card > div:last-of-type {
  padding: 0 1rem 1rem 1rem;
  margin-top: 1.25rem;
}

.card > div:last-of-type h2 {
  font-size: 1.15rem;
}

.card > div:last-of-type p {
  font-size: 0.75rem;
  line-height: 1.5;
  margin-top: 0.5rem;
}

section {
  width: 100%;
}

.life > div {
  text-align: center;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.life > div > video {
  width: 100%;
  max-width: 500px;
  max-width: 1000px;
  aspect-ratio: 6/4;
  background-color: lightgray;
  border-radius: 1rem;
  margin-top: 1rem;
}

.perks {
  background-color: #3939e6;
}

.perks h1 {
  color: white;
}

.perks > div {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .nav-links > div {
    display: flex;
    gap: 0.75rem;
  }

  .nav-links > div > a {
    color: black;
    text-decoration: none;
  }

  .our-values .card-container {
    flex-direction: row;
    justify-content: center;
  }

  .life > div > video {
    width: 75%;
    max-width: 800px;
    aspect-ratio: 6/3;
  }
}
